body {
  /* background-color: black;
  color: white; */
  font-family: cursive, fantasy;
}

h1,h2,h3 {
  color: pink;
}

.pink-border {
  border: 5px dotted rgb(178, 10, 245);
  border-radius: 12px;
  margin: 20px;
  padding: 15px;
}

#ingredients {
  color: purple;
}

/* Een element centreren */
h1 {
  margin: o auto;
  color: rgb(219, 22, 219);
}

.title, footer{
  margin: auto;
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-links {
  display: inline-flex;
}

a {
  display: block;
  padding: 8px;
}

   

/* Smartphones (portrait)
minimale breedte : 320px; */
@media (min-width: 320px) {                                                                                                               
    body {                                                                             
        font-size: 20px; 
        background-color: white;   
        color: black;                                                         
    }                                                                                
  }  

/* Tablets (portrait)
minimale breedte : 768px */
@media (min-width: 768px) {         
  body {                                                                             
      font-size: 20px; 
      background-color: white;   
      color: black;                                                         
  }                                                                                
}  

/* Desktop 
minimale breedte : 1024px */
@media (min-width: 1024px) {                                                          
  body {                                                                             
      font-size: 25px; 
      background-color: black;   
      color: white;                                                         
  }                                                                                
}  